<!DOCTYPE html>
<html>
  <head>
    <title>Search Bar</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script async src="https://cse.google.com/cse.js?cx=746b90334649d4be8"></script>
  </head>
  <body>
    <div id="title">
        <h1>American Football Search Engine</h1>
    </div>
    <form method="post">
        <div id="search-container">
            <span class="search-icon"><i class="fa fa-search" ></i></span>
            <input type="text" name="query" id="search-input" value="{{query}}">
            <span class="clear-icon"><i class="fa fa-trash fa-lg" id="clear-icon"></i></span>
        </div>
        
        <div id="button-container">
          <button type="submit" id="search-button">Submit</button>
        </div>

        <div class="football-form-grid">
          <fieldset>
            <label>
              Relevance Models
              <input type="radio" id="page-rank" name="selection" value="page-rank" {% if selected_value == 'page-rank' %}checked{% endif %}>
              <label for="page-rank">Page Rank</label>
              <input type="radio" id="hits" name="selection" value="hits" {% if selected_value == 'hits' %}checked{% endif %}>
              <label for="hits">HITS</label>
            </label>
          </fieldset>
          <fieldset id="query-expansion-container">
            <label>
              Query Expansion
              <input type="radio" id="association-expansion" name="selection" value="association-expansion" {% if selected_value == 'association-expansion' %}checked{% endif %}>
              <label for="association-expansion">Association Expansion</label>
              <input type="radio" id="metric-expansion" name="selection" value="metric-expansion" {% if selected_value == 'metric-expansion' %}checked{% endif %}>
              <label for="metric-expansion">Metric Expansion</label>
              <input type="radio" id="scalar-expansion" name="selection" value="scalar-expansion" {% if selected_value == 'scalar-expansion' %}checked{% endif %}>
             <label for="scalar-expansion">Scalar Expansion</label>
             </label>
          </fieldset>

          <fieldset id="clustering-container">
            <label>
              Clustering
              <input type="radio" id="flat-clustering" name="selection" value="flat-clustering" {% if selected_value == 'flat-clustering' %}checked{% endif %}>
              <label for="flat-clustering">Flat Clustering</label>
              <input type="radio" id="hierarchical-clustering-one" name="selection" value="hierarchical-clustering-one" {% if selected_value == 'hierarchical-clustering-one' %}checked{% endif %}>
              <label for="hierarchical-clustering-one">Single Hierarchical Clustering</label>
              <input type="radio" id="hierarchical-clustering-complete" name="selection" value="hierarchical-clustering-complete" {% if selected_value == 'hierarchical-clustering-complete' %}checked{% endif %}>
              <label for="hierarchical-clustering-complete">Complete Hierarchical Clustering</label>
            </label>
          </fieldset>

      </div>
    </form>


    {% if query %}
    <div class="iframe-result-container">
      <div class="iframe-container">
      <h2 class="google">Custom Search</h2>
      <iframe class="search-results-frame" srcdoc='
        <html>
          <head>
            <link rel="stylesheet" href="../static/styles.css">
          </head>
          <body>
              <div class="result-container">
                {% if custom_results %}
                  <div class="search-results-container">
                    <ul class="search-results">
                      {% for result in custom_results %}
                        <li class="search-result">
                          <a href="{{ result.id }}">{{ result.title[0]}}</a>
                          <p>{{ result.content[0]}}</p>
                        </li>
                      {% endfor %}
                    </ul>
                  </div>
                {% endif %}
              </div>
          </body>
        </html>'
        width="960" height="540" frameborder="1"
      >
      </iframe>
    </div>
  </div>
  {% endif %}
  

    <div class="iframe-result-container">
      <div class="iframe-container">
        <h2 class="google">Google Search</h2>
        <iframe src="https://www.google.com/search?igu=1&ei=&q={{query}}" width="960" height="540" frameborder="1"></iframe>
      </div>

      <div class="iframe-container">
        <h2 class="bing">Bing Search</h2>
        <iframe src="https://www.bing.com/search?q={{query}}" width="960" height="540" frameborder="1"></iframe>
      </div>
    </div>

    <!-- Create a container for displaying search results -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>  
    <script type="text/javascript" src="{{url_for('static', filename='script.js')}}"></script>
  </body>
</html>
